*{
    box-sizing: border-box;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.principal-image {
    width: 250px;
    border-radius: 50%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;
    background-color: blanchedalmond;
    border-radius: 10%;
}

.selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 5%;
}

option {
    width: 80%;
}

#btn-calculate {
    background-color:coral;
    cursor:pointer;
    border-radius: 5%;
    width: 80%;
}